.cs-label{
    color:#37B4E5 !important;
}
.borderr{
    border: 1px solid #37B4E5 !important;

}
.borderr:focus{
    box-shadow:none !important;
    border:2px solid #37B4E5 !important 
}
.button-cl{
    background-color:#37B4E5 !important;
    width:20%;
}
.text-input{
  text-transform: capitalize;
}